* {
    margin: 0;
    padding: 0;
}

//reset for table
table,
thead,
tbody,
tfoot,
tr,
th,
td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
 
th,
td {
    display: inline;
}
//fonts
 
h1{
    color:#0092CA;
    font-size:40px;
    font-family: 'Raleway', sans-serif; 
        margin-bottom: 15px;
}
a:visited{
color:#393E46;
}
table{
    font-family: 'Lato', sans-serif;
}
// base style
body{
    background-image: url(pictures/photography.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper{
        width: 80%;
        height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        background-color: #fff;
    }
 
}
table {
    color:#393E46;
    // background-color: #EEEEEE;
    width: 400px;
    thead {
        display: flex;
        align-items: center;
        height: 30px;
        color:#eee;
        border-radius:5px 5px 0 0;
        background-color: #393E46;
        th {
            &:first-child {
                margin-left: 15px;
            }
            &:last-child {
                margin-left: auto;
                margin-right: 15px;
            }
        }
    }
}

table {
    tr {
        display: flex;
        width: 100%;
    }
    tbody {
        background-color: #EEEEEE;
        // border-radius:0 0 5px 5px ;
        // @extend thead;
        tr {
        border-bottom:5px solid #393E46;     
        height: 45px;
        box-sizing:border-box;
         display: flex;
        align-items: center;
            
            // border-bottom: 0.5px solid black;
        }
        th {
            &:first-child {
                margin-left: 15px;
            }
            &:last-child {
                margin-left: auto;
                margin-right: 30px;
            }
        }
    }
}
